include idmlaser_cholera/USA-pyramid-2023.csv
include src/idmlaser_cholera/mods/libtx.so
include src/idmlaser_cholera/mods/libages.so
include src/idmlaser_cholera/tools/make_suitability_random_data.py 

